{% extends 'layout.html' %}
{% block content %}

<h1>Registro de ploteos</h1>

{% if registros %}

<table class="table">
    <thead class="thead-dark">
      <tr>
        
        <th scope="col">Fecha ploteada</th>
        <th scope="col">Latitud</th>
        <th scope="col">Longitud</th>
        <th scope="col">Fecha </th>
        
      </tr>
    </thead>
    <tbody>

        {% for r in registros%}
      <tr>
        <th scope="row">{{r.plo_fecha}}</th>
        <td>{{r.plo_lat}}</td>
        <td>{{r.plo_lon}}</td>
        <td>{{r.plo_fecha_creacion}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}



{% endblock %}