{% extends 'layout.html' %}
{% block content %}

<h1>Registro de Canciones</h1>

{% if registros %}

<table class="table">
    <thead class="text-white" style="background-color: #00001bf3;">
      <tr>
        
        <th scope="col">Busqueda</th>
        <th scope="col">Fecha </th>
        
      </tr>
    </thead>
    <tbody>

        {% for r in registros%}
      <tr>
        <td>{{r.son_busqueda}}</td>
        <td>{{r.son_fecha}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

<form action="/reportar-canciones" method="POST">
  
  <button type="submit" class="btn btn-outline-info">Generar Reporte</button>
</form>


{% endblock %}