{% extends 'layout.html' %}

{% block content %}
<form id="formsong" action="" method="POST" style="width: 60%" class="mx-auto">
    {{form.hidden_tag()}}
    <h3 class="text-center">Ingresa tu canción favorita ♥</h3>
    <hr>
    <div class="form-group">
        {{form.namesong.label}}
        {% if form.namesong.errors %}
        {{form.namesong(class='form-control is-invalid')}}
        <div class="invalid-feedback">
            {% for error in form.namesong.errors %}
            <span>{{error}}</span>
            {% endfor %}
        </div>
        {% else %}
        {{form.namesong(class='form-control')}}
        {% endif %}
    </div>
    
    <div class="form-group">
        {{form.submit(class='btn btn-outline-info')}}
    </div>
</form>

<div id="contsong" class="container">
    
</div>

{% endblock %}